# Ignore PDF and Graphviz files
*.pdf
*.gv

# Ignore log, build, and install folders
log/
logs/
build/
install/
venv/
recordings/

.vscode/

PRED_ZAPNUTIM.txt
TODO.txt

results.csv
results.png

csv_files_*/

commands.txt
